.navbar {
  background-color: #ec4c8a;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #fff;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  margin-left: -20%;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover::after {
  width: 100%;
  background: #ffdd40;
}

.nav-item .active {
  color: #ffdd40;
  border-bottom: 1px solid #ffdd40;
}

.nav-icon {
  display: none;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform 0.7s ease-in-out;
  margin-left: 10px;
}

.mobile-icons {
  display: none;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #ffffff58;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: linear-gradient(to right, #f2689d, #ec4c8a);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item .active {
    color: #ffdd40;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
    margin-top: 1%;
    margin-left: 10%;
  }

  .nav-container {
    display: flex;
  }

  .nav-logo {
    position: absolute;
    color: #fff;
    left: 18%;
    font-size: 1.4rem;
  }

  .mobile-icons {
    display: flex;
    gap: 15%;
    justify-content: end;
    margin-right: -70%;
  }

  .icon-mobile {
    width: 30px;
  }

  .mic,
  .search {
    filter: invert(100%) sepia(0%) saturate(2449%) hue-rotate(190deg) brightness(108%) contrast(101%);
  }

  .signal {
    filter: invert(99%) sepia(65%) saturate(3172%) hue-rotate(321deg) brightness(104%) contrast(106%);
  }
}
